; This is a sample configuration file

DB_HOST = 'DBHOST'
DB_PORT = '3306'
DB_NAME = 'DATABASE'
DB_USERNAME = 'MYUSER'
DB_PASSWORD = 'MYPWD'

MC_HOST = 'MCHOST'
MC_PORT = '11211'

GOOGLE_OAUTH_FILE = ''
